body {
  background-image: url("../images/Steven Universe wallpaper.png");
  background-size: color;
  align-content: center;
}

img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

h1 {
  text-align: center; 
}

#titleCard {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.container {
  align-content: center;
  margin: auto;
}

.card-body{
  position: center;
}

h2{
  margin-bottom: 20px;
}
